<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="~/Content/about.css">
</head>
<body>
    <div class="heading">
        <h1 style="font-family: 'Playfair Display', serif; color: beige">Sobre Nosotros</h1>
        <p style="font-family: 'Cinzel', serif; color: #dbdbdb">
            En essenza, cada plato es una obra maestra que refleja nuestra pasión por la gastronomía de alta calidad. <br />
            Fundado en 1990, nos enorgullece ofrecer una experiencia culinaria única, donde los ingredientes frescos y selectos se combinan de manera perfecta para crear sabores excepcionales.
        </p>

    </div>
    <div class="container">
        <section class="about">
            <div class="about-imagen">
                <img src="~/Imagenes/ImagenAbout.jpg">
            </div>
            <div class="about-content">
                <h2 style="font-family: 'Playfair Display', serif; color: beige">Inicios</h2>
                <p style="font-family: 'Cinzel', serif; color: #120202; font-size: 20px">
                    Desde nuestros inicios, hemos buscado siempre innovar, fusionando la tradición culinaria con técnicas vanguardistas, para ofrecer lo mejor de la cocina gourmet. <br />
                    En un ambiente elegante y acogedor, te invitamos a disfrutar de una cocina de autor que te llevará en un viaje sensorial único.
                </p>
            </div>
        </section>
    </div>
    <br />
    <br />
    <hr />



    <div class="container">
        <section class="about">
            <div class="about-imagen">
                <img src="~/Imagenes/Equipo3.jpg">
            </div>
            <div class="about-content">
                <h2 style="font-family: 'Playfair Display', serif; color: beige">Vision</h2>
                <p style="font-family: 'Cinzel', serif; color: #120202">
                    Convertirnos en el restaurante de referencia en la comunidad, conocido por nuestra innovación culinaria,
                    compromiso con la sostenibilidad y la satisfacción constante de nuestros comensales.
                </p>

                <h2 style="font-family: 'Playfair Display', serif; color: beige">Mision</h2>
                <p style="font-family: 'Cinzel', serif; color: #120202">
                    Nuestra misión es ofrecer una experiencia gastronómica única,
                    combinando ingredientes frescos de alta calidad y un servicio excepcional.
                </p>
            </div>
        </section>



</body>
</html>