<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="~/Content/contact.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
</head>
<body>

    <section class="contact">
        <div class="container">
            <h2 style="font-family: 'Playfair Display', serif; color:beige">Contáctanos</h2>
            <div class="contact-wrapper">
                <div class="contact-form">
                    <h3 style="font-family: 'Raleway', sans-serif; color: beige">Envíanos un mensaje</h3>
                    <form>
                        <div class="form-group">
                            <input type="text" name="name" placeholder="Your Name">
                        </div>
                        <div class="form-group">
                            <input type="email" name="email" placeholder="Your Email">
                        </div>
                        <div class="form-group">
                            <textarea name="message" placeholder="Your message"></textarea>
                        </div>
                        <button type="submit">Enviar Mensaje</button>
                    </form>
                </div>
                <div class="contact-info">
                    <h3 style="font-family: 'Playfair Display', serif; color:beige">Información de Contacto</h3>
                    <p style="color:beige"><i class="fas fa-phone"></i> +506 2460 4405</p>
                    <p style="color:beige"><i class="fas fa-envelope"></i> essenza@gmail.com</p>
                    <p style="color:beige"><i class="fas fa-map-marker-alt"></i> Alajuela, San Carlos, Ciudad Quesada</p>
                </div>
            </div>
        </div>
    </section>

</body>
</html>ess>
