<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="~/Content/Index.css">
</head>
<body>
    <main>
        <section class="row" aria-labelledby="aspnetTitle">
            <h1 id="title" style="font-family: 'Playfair Display', serif; color: #6c2727; width: 45px; ">Essenza</h1>
            <!--#8B0000-->
            <p class="lead" style="font-family: 'Cinzel', serif; color: #F1E2B3 ">
                Bienvenidos a nuestro restaurante, donde la pasión por la comida se combina con un ambiente acogedor.<br />
                Desde 1990, ofrecemos platos únicos preparados con ingredientes frescos y de alta calidad.
            </p>
            <p><a href="https://localhost:44389/Home/About" class="btn btn-primary btn-md" style="color: beige">Ver más &raquo;</a></p>
        </section>

        <br />
        <br />

        <div class="row">
            <section class="col-md-4" aria-labelledby="gettingStartedTitle">
                <div class="menu-container">
                    <h2 id="gettingStartedTitle" style="font-family: 'Playfair Display', serif; color: #6c2727; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6); ">Nuestro Equipo</h2>
                    <p style="font-family: 'Raleway', sans-serif; color: whitesmoke;">
                        En Essenza, nos enorgullecemos de contar con un equipo de chefs y profesionales<br>
                        de la alta cocina.
                    </p>

                    <div style="">
                        <img src="~/Imagenes/Equipo2.jpg" alt="ImagenEquipo" width="250" height="250">
                    </div>
                    <br />

                    <p><a class="btn btn-outline-dark" href="https://go.microsoft.com/fwlink/?LinkId=301865" style="color: beige">Ver más &raquo;</a></p>
                </div>
            </section>




            <section class="col-md-4" aria-labelledby="librariesTitle">
                <div class="menu-container">
                    <h2 id="librariesTitle" style="font-family: 'Playfair Display', serif; color: #6c2727">Menú</h2>
                    <p style="font-family: 'Raleway', sans-serif; color: whitesmoke;">
                        Desde entrantes delicados hasta postres irresistibles. <br />

                    </p>
                    <br />
                    <div>
                        <img src="~/Imagenes/imagen11.jpg" width="250px" height="250px" />
                    </div>
                    <br />
                    <p><a class="btn btn-outline-dark" href="https://localhost:44389/Home" style="color: beige">Ver más &raquo;</a></p>
                </div>
            </section>



            <section class="col-md-4" aria-labelledby="hostingTitle">
                <div class="menu-container">
                    <h2 id="hostingTitle" style="font-family: 'Playfair Display', serif; color: #6c2727">Restaurante</h2>
                    <p style="font-family: 'Raleway', sans-serif; color: whitesmoke">
                        Nuestro restaurante ofrece un ambiente elegante y relajado, perfecto para ocasiones especiales <br />
                    </p>
                    <div style="">
                        <img src="~/Imagenes/imagen3.jpg" alt="ImagenEquipo" width="250" height="250">
                    </div>
                    <br />
                    <p><a class="btn btn-outline-dark" href="https://go.microsoft.com/fwlink/?LinkId=301867" style="color: beige">Ver más &raquo;</a></p>
                </div>
            </section>


        </div>
    </main>
</body>
</html>